<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @budget.description %>
</p>

<strong>ID:</strong>
  <%= @budget.id %>
</p>




<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
<%= link_to 'Create Debt', budget_debt_path(@budget) %>
<%= link_to 'Create Income', budget_income_path(@budget) %>
<%= link_to 'Create Giving', budget_giving_path(@budget) %>
<%= link_to 'Create Expense', budget_expense_path(@budget) %>

