<p id="notice"><%= notice %></p>

<h1>Givings</h1>

<table>
  <thead>
    <tr>
      <th>Church</th>
      <th>Charity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @givings.each do |giving| %>
      <tr>
        <td><%= giving.church %></td>
        <td><%= giving.charity %></td>
        <td><%= link_to 'Show', giving %></td>
        <td><%= link_to 'Edit', edit_giving_path(giving) %></td>
        <td><%= link_to 'Destroy', giving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giving', new_giving_path %>
