<p id="notice"><%= notice %></p>

<p>
  <strong>Church:</strong>
  <%= @giving.church %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @giving.charity %>
</p>

<%= link_to 'Edit', edit_giving_path(@giving) %> |
<%= link_to 'Back', givings_path %>
