<div class="home-wrapper">
  <%= render "/home/authentication_bar" %>
  <% if user_signed_in? %>
    <h3>Income</h3>
    <p><%= link_to "Navigate to income", incomes_path %></p>

    <h3>Expenses</h3>
    <p><%= link_to "Navigate to expenses", expenses_path %></p>

    <h3>Givings</h3>
    <p><%= link_to "Navigate to giving", givings_path %></p>

    <h3>Debts</h3>
    <p><%= link_to "Navigate to debt", debts_path %></p>
  <% end %>
<!--  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>-->
</div>