<p id="notice"><%= notice %></p>

<p>
  <strong>Checkone:</strong>
  <%= @income.checkone %>
</p>

<p>
  <strong>Checktwo:</strong>
  <%= @income.checktwo %>
</p>

<p>
  <strong>Checkthree:</strong>
  <%= @income.checkthree %>
</p>

<p>
  <strong>Checkfour:</strong>
  <%= @income.checkfour %>
</p>

<p>
  <strong>Checkfive:</strong>
  <%= @income.checkfive %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
