<p id="notice"><%= notice %></p>

<p>
  <strong>Mortgage:</strong>
  <%= @expense.mortgage %>
</p>

<p>
  <strong>Water:</strong>
  <%= @expense.water %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @expense.gas %>
</p>

<p>
  <strong>Eletricity:</strong>
  <%= @expense.eletricity %>
</p>

<p>
  <strong>Cable:</strong>
  <%= @expense.cable %>
</p>

<p>
  <strong>Trash:</strong>
  <%= @expense.trash %>
</p>

<p>
  <strong>Gasoline:</strong>
  <%= @expense.gasoline %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @expense.maintenance %>
</p>

<p>
  <strong>Groceries:</strong>
  <%= @expense.groceries %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @expense.restaurant %>
</p>

<p>
  <strong>Clothing:</strong>
  <%= @expense.clothing %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @expense.phone %>
</p>

<p>
  <strong>Fun:</strong>
  <%= @expense.fun %>
</p>

<p>
  <strong>Cosmetic:</strong>
  <%= @expense.cosmetic %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @expense.subscription %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
